.learn-more-btn {
    background: transparent;
    color: #f0f0f0;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.learn-more-btn .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    background: grey;
    right: 0.3em;
    transition: all 0.3s;
}

.learn-more-btn:hover .icon {
    width: calc(100% - 0.6em);
}

.learn-more-btn .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #f0f0f0;
}

.learn-more-btn:hover .icon svg {
    transform: translateX(0.1em);
}

.learn-more-btn:active .icon {
    transform: scale(0.95);
}
