.learn-more-btn {
    background: linear-gradient(90deg, #ff6b6b, #f3a683, #ff9ff3);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
 
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.learn-more-btn .icon {
    background: rgba(255, 255, 255, 0.2);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    right: 0.3em;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.learn-more-btn:hover .icon {
    width: calc(100% - 0.6em);
}
z
.learn-more-btn .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.learn-more-btn:hover .icon svg {
    transform: translateX(0.1em);
}

.learn-more-btn:active .icon {
    transform: scale(0.95);
}

