.repository-container {
    display: flex;
    justify-content: left;
    gap: 40px;
    padding: 40px 0;
    max-width: 1000px;
    margin: 0 auto;

}

.repository-link {
    text-decoration: none;
    color: inherit;
}

.repository-card {
    width: 400px;
    padding: 30px;
    background-color: #1a1a2e;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: 3px solid transparent;
    padding-left: 50px;
}
.repository-card:hover {
    transform: scale(1.05);
    animation: border-gradient 3s infinite;
}

@keyframes border-gradient {
    0% {
        border-color: #ff9ff3;
    }
    33% {
        border-color: #6a89cc;
    }
    66% {
        border-color: #38ada9;
    }
    100% {
        border-color: #ff9ff3;
    }
}

.repository-card:hover .repo-header h3 {
    background: linear-gradient(90deg, #ff9ff3, #6a89cc, #38ada9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-gradient 3s infinite;
}

@keyframes text-gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.repo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repo-header h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
}

.public-tag {
    background-color: #4c4c4c;
    color: white;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 0.8rem;
}

.repo-description {
    margin: 15px 0;
    font-size: 1rem;
    color: #bdc3c7;
}

.repo-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #95a5a6;
}

.language-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.css-color {
    background-color: #563d7c;
}

.python-color {
    background-color: #3572A5;
}

.cpp-color {
    background-color: #f34b7d;
}

.html-color {
    background-color: #c04417;
}



.popular-repositories-container {
    text-align: center; 
    margin-bottom: 40px;
}


.popular-repositories-heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2); 
    display: inline-block;
}


